.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchLink{
    position: absolute;
    width: 5cqw;
    height: 13cqh;
    right: 0cqw;
}
.spinner-inside{
    width: 100vw;
    left: unset;
}