@media screen and (max-width: 1024px) {
  .search-block{
    .search{
        display: flex;
        justify-content: unset;
        align-items: center;
        img{
            display: block;
            width: 5cqw;
            position: absolute;
        }
    }
  }
    .slideItem{
        flex-direction: column;
        text-align: -webkit-center;
        text-align: inherit;
        width: 65cqw;
        .poster{
            img{
                margin: 0 auto;
                width: 25cqw;

            }
        }
        .infoPoster{
            width: auto;
            .tittle{
                letter-spacing: normal;
                font-size: 3cqw;
            }
            .description{
                font-size: 2cqw;
            }
        }
        .readMoreBtn{
            top: 5cqh;
            width: 100%;
            position: relative;
        }

    }
    .filmBg{
        padding-top: 110px;
    }
    .filmWrapper{
        position: relative;
        padding: min(160px) 0 100px;
        padding-top: unset;
    }
    .actorContainer{
        width: 70cqw;
        .actorDescription{
            padding: 2cqw;
        }
    }
    .seasons{
        .seasonsWrapper{
            min-width: unset;
            .description{
                width: 50cqw;
                padding: 5cqw;
            }
        }

    }
    .episodesWrapper{
        width: 90vw;
    }
}
@media screen and (max-width: 768px) {
    .search-block{
        .input{
            input{
                max-width: 17cqw;
            }
        }
        .search{
            img{
                width: 7cqw;
            }
        }
      }
    .actorContainer{
        .gridBlock{
            grid-template-columns: 35cqw 35cqw;
        }
        // width: 35cqw;
        img{
            width: 30cqw;
            height: 25cqh;
            margin: 0 auto;
        }
    }
    .actorDescription{
        text-align: center;
    }
    
}
@media screen and (max-width: 710px) {
    .search-block{
        display: none;
    }
    .logo-item{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .pages{
        width: 40cqw;
        height: 40cqh;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 230px;
        ul{
            .burger-search{
                border-bottom: 0;
                width: 40cqw;
                text-align: left;
                .input{
                    top: 30px;
                    input{
                        width: 40cqw;
                    }
                }
                .search{
                    position: fixed;
                    top: 60px;
                    right: 1cqh;
                    text-align: -webkit-right;
                    // img{
                    //     position: fixed;
                    //     top: 12cqh;
                    // }
                }
            }
            li{

                display: block;
                border-bottom: 1px solid white;
                height: 50px;
                text-align: initial;
                
            }
        }
    }
    .episodeBtn{
        display: none;
    }
    .episodesWrapper{
        display: none;
    }
    .filmWrapper{
        button{
            margin: 0 2cqw;
        }
    }
    
}
@media screen and (max-width: 450px) {
    .search-block{
        
        .search{
            img{
                width: 9cqw;
            }
        }
      }
    .seasonsWrapper{
        // max-width: unset;
        // .description{
        //     width: 50cqw;
        //     padding: 5cqw;
        // }
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                min-width: unset;
                width: 50cqw;

            }
        }
    }
}

