@media screen and (max-width: 1024px) {

  .search-block{
    .search{
        display: flex;
        justify-content: unset;
        align-items: center;
        img{
            display: block;
            width: 5cqw;
            position: absolute;
        }
    }
  }
    .slideItem{
        // flex-direction: column;
        text-align: inherit;
        width: 80cqw;
        height: 70cqh;
        // margin-top: 75px;
        height: inherit;
        overflow: hidden;
        top: 2cqh;
        .poster{
            display: flex;
            align-items: center;
            width: 40cqw;
            img{
                // margin: 0 auto;
                width: 40cqw;
                max-width: 40cqh;
                height: fit-content;

            }
        }
        .infoPoster{
            width: 35cqw;
            .tittle{
                letter-spacing: normal;
                font-size: 3cqw;
            }
            .description{
                font-size: 2cqh;
                overflow: auto;
                margin-bottom: 12cqh;


                max-height: 45cqh;
            }
        }
        .readMoreBtn{
            top: 5cqh;
            width: 100%;
            position: relative;
            .btnWrapper{
                display: block;
                text-align: -webkit-right;
            }
        }

    }
    .infoPoster{
        height: inherit;
    }
    .filmBg{
        padding-top: 110px;
    }
    .filmWrapper{
        position: relative;
        padding: min(160px) 0 100px;
        padding-top: unset;
    }
    .actorContainer{
        width: 70cqw;
        .actorDescription{
            padding: 2cqw;
        }
    }
    .seasons{
        .seasonsWrapper{
            min-width: unset;
            .description{
                width: 50cqw;
                padding: 5cqw;
            }
        }

    }
    .episodesWrapper{
        width: 90vw;
    }
    .swiper-slide{
        height: -webkit-fill-available;
    }
}
@media screen and (max-width: 768px) {
    .search-block{
        .input{
            input{
                max-width: 17cqw;
            }
        }
        .search{
            img{
                width: 7cqw;
            }
        }
      }
    .actorContainer{
        .gridBlock{
            grid-template-columns: 35cqw 35cqw;
        }
        // width: 35cqw;
        img{
            width: 30cqw;
            height: 25cqh;
            margin: 0 auto;
        }
    }
    .actorDescription{
        text-align: center;
    }
    .readMoreBtn{
        top: unset !important;
        bottom: 6cqh;
        // bottom: 8cqh !important;
        // .mainBtn{
        //     span{
        //         font-size: 3cqw;
        //     }
        // }

    }
    
}
@media screen and (max-width: 710px) {
    .search-block{
        display: none;
    }
    .logo-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .burger{
        display: block !important;
        position: absolute;
        top: 15px;
        right: 5cqw;
        img{
            width: 45px;
            background-color: white;
            padding: 1cqw;
            border-radius: 2cqw;
        }
    }
    .pages{
        width: 40cqw;
        height: 40cqh;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        transition: all ease 0.5s;
        align-items: center;
        min-height: 230px;
        position: relative;
        left: 40cqw;
        top: 20px;
        ul{
            .burger-search{
                display: block;
                border-bottom: 0;
                width: 40cqw;
                text-align: left;
                .input{
                    top: 20px;

                    input{
                        padding-left: 2cqw;
                        padding-bottom: 5px;
                        width: 40cqw;
                    }
                }
                .search{
                    position: absolute;
                    right: 2cqh;
                    top: 20px;
                    text-align: -webkit-right;
                    // img{
                    //     position: fixed;
                    //     top: 12cqh;
                    // }
                }
            }
            li{

                display: block;
                border-bottom: 1px solid white;
                height: 50px;
                text-align: initial;
                
            }
        }
    }
    .pagesActive{
        transition: all ease 0.5s;
        left: 0;
    }
    .episodeBtn{
        display: none;
    }
    .episodesWrapper{
        display: none;
    }
    .filmWrapper{
        button{
            margin: 0 2cqw;
        }
    }
    .slideItem{
        .readMoreBtn{
            top: unset;
            position: absolute;
            display: block;
            bottom: 10cqh;
            right: unset;
            .mainBtn{
                max-width: 30cqw;
                margin: 0 auto;
            }
        }
        
    }
    
}
@media screen and (max-width: 450px) {
    .search-block{
        
        .search{
            img{
                width: 9cqw;
            }
        }
      }
    .seasonsWrapper{
        // max-width: unset;
        // .description{
        //     width: 50cqw;
        //     padding: 5cqw;
        // }
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                min-width: unset;
                width: 50cqw;

            }
        }
    }
    .swiper-pagination{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .burger{
        img{
            width: 35px;
        }
    }
    .slideItem{
        margin-top: 0;
        .readMoreBtn{
            bottom: 8cqh !important;
            .mainBtn{
                span{
                    font-size: 3cqw;
                }
            }
    
        }

    }
    .gridBlock{
        gap: 5px;
    }
    
    
}


